@charset "UTF-8";
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.black{
	background-color:black;
}
.yellow{
	background-color:yellow;
}
.top{
	margin-top:80px;
	margin-bottom:80px;
}
.content-align{
	margin-bottom:30px
}
.auto-margin{
	margin-left: auto;
	margin-right: auto;
	margin:auto;
}
.header-height{
	height:20px;
}